<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">{{dish.name}}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeDetail()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="button-bar">
      <button class="button icon-left ion-star" ng-click="addFavorite()">Add to favorites</button>
      <button class="button icon-left ion-chatbox-working" ng-click="addComment()">Add comments</button>
    </div>
  </ion-content>
</ion-modal-view>